@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-dark text-uppercase text-center">@ViewData["Title"]</h1>

@* Login dhe Registration ka te implementuar nga Identity pjesen e Two-factor Authentication (2FA)*@
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h6 class="text-center">Create a new account!</h6>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="FirstName" />
                <label asp-for="Input.FirstName">FirstName</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="LastName" />
                <label asp-for="Input.LastName">LastName</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.SelectedRoles" class="form-select">
                    <option value="Punedhenesi">Punedhenesi</option>
                    <option value="Punekerkuesi">Punekerkuesi</option>
                </select>
                <label asp-for="Input.SelectedRoles">Choose Role</label>
                <span asp-validation-for="Input.SelectedRoles" class="text-danger"></span>
            </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-dark">Register</button>
        </form>
        </section>
    </div>
    <h6 class="text-center m-2">or connect with</h6>
    <hr />
    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                    article about setting up this ASP.NET application to support logging in via external services
                </a>.
            </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="row justify-content-center">
            <div class="col-md-4">
                <p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="w-100 btn btn-outline-info btn-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>


                    }
                </p>
            </div>
            </div>
        </form>
    }

</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
